h1 {
    font-family: jfont2;
    text-align: center;
    margin-top: 50px;;
    min-width: 100px;
    min-height: 100px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 20px;
    
    
    
}


.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    min-height: auto;
    position: relative;
    top: -90px;
  

   
    
}

body {
    
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
}


ul {
    
    list-style: none;
    font-family: jfont2;
    font-size: 10px;
    display: block;
    overflow:hidden;
    margin-right: auto;
    margin-left: auto;  
    display: block;
    font-weight: 600;
    color: whitesmoke;
    text-transform: lowercase;
    margin-top: -80px;
    position: relative;
    text-align: center;
    white-space: nowrap;
      margin-right: 30px;
    
 
  
    
}

li {
    display: inline;
    padding: 15px;
    margin-top:100px;
    white-space: nowrap;
    text-align: center;
    
    
    
    
}




a:link {
    
    text-decoration: none;
    color: whitesmoke;
    
}




a:visited {
    text-decoration: none;
    color: whitesmoke;
    
}




a:hover {
    text-decoration: underline overline;
     text-decoration-color: red;
    color: whitesmoke;
    
    
    
}



p {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    font-size: 95%;
    display:block;
    overflow:hidden; 
    display: block;
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 00;
    margin-right: 00;
    margin-top: 50px;
    padding: 15px;
    width; 700px;
    height: auto;
 

    
}



.me {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    
    
    
}

h2 {
    
    text-align: center;
    font-family: jfont2;
    text-align: center;
    margin-top: 0px;;
    min-width: 100px;
    min-height: 100px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 20px;
    
    
}


ol {
    list-style: none;
    font-family: jfont2;
    font-size: 10px;
    display: block;
    overflow:hidden;
    margin-right: auto;
    margin-left: auto;  
    display: block;
    font-weight: 600;
    color: black;
    text-transform: lowercase;
    position: relative;
    text-align: center;
    white-space: nowrap;
      margin-right: 30px;
    margin-top: -10px;
    
    
}


img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

    
    
    
}


@font-face
{
font-family: jfont2;
src: url('jfont2.otf'),
url('jfont2.eot');
}