
* {
    margin: 0;
    padding: 0;
}





img {

    display: block;
    margin: auto;;  
    height: auto;
    width: 500px;
    align-content: center;
    vertical-align: middle;
     margin-top: 130px;
    position: sticky;
    z-index: 10;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    
    
}


.overlay {
    
    position: absolute;
    top: 0; 
    left: 0;
    
    
    
    
}





h1 {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    width: auto;;
    height: auto;
    font-size: 20px;
    display:block;
    overflow:auto; 
    display: block;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    z-index: 10;
    position: relative;
    text-align: center;
    
    
}


@font-face
{
font-family: jfont2;
src: url('jfont2.otf'),
url('jfont2.eot');
}


body {
    
    background-repeat:repeat;
    background-attachment:scroll;
    background-size: contain;
    background-color: black;
    overflow: hidden;
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: white;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}






video {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    
    
    
    
    
}


@media only screen and (max-width: 1440px) {
img  {
    
    max-width: 20em;
    min-height: 1em;
    
    }
  
    
    
    }

    
    
    a {
        color: white;
        z-index: 10;
        
        
        
    }

    
    
    .first {
        
        margin-top: -100px;
        
        
        
        
    }