



img {

    display: block;
    margin: auto;;  
    height: auto;
    width: 500px;
    align-content: center;
    vertical-align: middle;
     margin-top: 75px;
    


    
     
   
    
}


h1 {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    width: auto;;
    height: auto;
    font-size: 40px;
    display:block;
    overflow:auto; 
    display: block;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;

    
    
    
}



h2 {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    font-size: 20px;
    display:block; 
    display: block;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    overflow: hidden;
    text-decoration: underline;

    
    
    
}

@font-face
{
font-family: jfont2;
src: url('jfont2.otf'),
url('jfont2.eot');
}


body {
    
    background-repeat:repeat;
    background-attachment:scroll;
    background-size: contain;
    background-color: black;
    
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: white;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

ol { 

color: white;
font-family: monospace;
font-weight: 500;
margin-bottom: auto;
list-style-type: decimal-leading-zero;
font-size: 17px;


    
  
    
   
}

li {
    padding: 13px;
    margin-left: 75px;
    font-style: italic;
   
    
}

p {
     color:gold;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 17px;
    
    
}


h3 {
    
     color: white; 
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 17px;
    
    
    
}


h4 {
    
     color: white; 
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    
    
    
}

dd {
    
   
    
    
    
}