h1 {
    font-family: jfont2;
    text-align: center;
    margin-top: 50px;;
    min-width: 100px;
    min-height: 100px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 20px;
    
    
    
}


h2 {
      font-family: jfont2;
    text-align: center;
    margin-top: 70px;;
    min-width: 100px;
    min-height: 80px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

    
    
    
}

body {
    
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    min-height: auto;
    position: relative;
    top: -90px;
  

   
    
}


ul {
    
    list-style: none;
    font-family: jfont2;
    font-size: 10px;
    display: block;
    overflow:auto;
    margin-right: auto;
    margin-left: auto;  
    display: block;
    font-weight: 600;
    color: white;
    text-transform: lowercase;
    margin-top: -80px;
    position: relative;
    text-align: center;
    white-space: nowrap;
      margin-right: 30px;
    
 
  
    
}

li {
    display: inline;
    padding: 15px;
    margin-top:100px;
    white-space: nowrap;
    text-align: center;
    color: white;
    
    
    
}




a:link {
    
    text-decoration: none;
    color: white;
    
}




a:visited {
    text-decoration: none;
    color: whitesmoke;
    
}




a:hover {
     text-decoration: underline overline;
     text-decoration-color: red;
    color: whitesmoke;
    
    
}



p {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    font-size: 15px;
    display: inline;
    overflow:auto; 
    display: block;
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 40px;
  

    
}


img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    
    
    
}


.playlist {
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    
}


@font-face
{
font-family: jfont2;
src: url('jfont2.otf'),
url('jfont2.eot');
}