body {
    margin:0;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow-y:hidden;
    
}


html {
    
    
    scroll-behavior: inherit;
}


a {
    color: white;
    
}

.header {
    background-color: black;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    padding-top: 20px;
     opacity: .95;
    
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: blue;
    font-family: jfont2;
    
}


.header ul a {
    display: block;
    padding: 20px;
    border-right:1px solid #aaa;
    text-decoration: none;
    
}

.header ul a:hover {
    background-color: blue;
   font-family: jfont2;
    text-decoration: underline;
   
    
    
    
    
}


nav img {
    float: left;
    display: block;
    width: 50%;
    padding: 15px 30px;
    max-width: 250px;
    
}


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-family: jfont2;
}

.header .menu-icon {
    padding:28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
     
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height:2px;
    width: 18px;
    position: relative;
    transition:background .2s ease-out;
}


.header .menu-icon .nav-icon:before{
    background: white;
    content: "";
    display: block;
    height: 100%;
    width:100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
    
    
}

.header .menu-icon .nav-icon:after{
    background: white;
    content: "";
    display: block;
    height: 100%;
    width:100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
    
    
}


.header .menu-btn {
    display: none;
    
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}


.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background:transparent;
   
}




.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
   transform: rotate(-45deg);
    top: 0;
}




.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
   
}

@media (min-width: 900px) {
    .header li{
        float: left;
    }
    
    .header li a {
        padding: 20px 30px;
    }
    
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        background-color: black;
    }
    
    .header .menu-icon {
        display: none;
        
    }
}

@font-face
{
font-family: jfont2;
src: url('jfont2.otf'),
url('jfont2.eot');
}









ol { 

color: white;
font-family: monospace;
font-weight: 500;
margin-bottom: auto;
list-style-type: decimal-leading-zero;
font-size: 17px;
padding-left: 40px;
padding-right: 40px;
text-align: center;
margin top: 30px;

   
  
   
}

li {
    margin: auto;
    font-style: italic;
    margin top: 20px;
    position: relative;
    text-align: center;
    margin-left: 5px;
    
    
   
    
}



.header li {
    padding: fixed;
    
    
}

p {
     color:black;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
    padding-bottom: 20px;
    
    
    
}


h1 {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    width: auto;;
    height: auto;
    font-size: 18px;
    display:block;
    overflow:auto; 
    font-weight: 600;
    color: red;
    text-transform: uppercase;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 25px;
    padding: 15px;
    
    
    
}


h2 {
    text-align: center;
    list-style: none;
    font-family: jfont2;
    font-size: 20px;
    display:block; 
    color: white;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-decoration: underline;
    padding-top: 150px;

    

    
    
    
}


h3 {
    
     color: white; 
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    padding: 4%;
    
    
    
}


h4 {
    
     color: black; 
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    
}



    




@media only screen and (max-width: 740px) {
.video-container {
    width:auto;
    height:auto;
    
    
    
    
    }

.video-container iframe, .video-container object, .video-container embed 
{     width:1820px;
    height:1080px;
    
}
 
    
    
    
    
}


.responsive-iframe {
    
    position: absolute;
    top: 0;
    left 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    
    
    
    
    
    
}

.video-box{
    width:400px;
    position:relative;
    
}

.video-thumbnail{
    z-index:300;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    image-resolution: snap;
    

}

.video-frame{
    z-index:100;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    
}

.thumbnail-link .video-thumbnail{
    display:block;
    image-resolution:
}

.thumbnail-link:hover .video-thumbnail{
    display:none;
}





.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:55%;
    
    
    
    
}



* {
    margin: 0;
    padding: 0;
    
    
    
}


.container {
    width: 100vw;
    height: 100vh;
}


.content-wrapper {
    width: 100vw;
    white-space:nowrap;
    
    
}





.section {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
     padding-left: 10px;

    
    
}



.section div {
    color: red;
    font-size: 100px;
    position:absolute;
    left: 50%;
    top: 50%;
    padding-top: 80px;
    transform: translateX(-50%) translateY(-50%);
    
    
    
    
}




dd {
    color: black;
    position: absolute;
    width: 100%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: 900;
    font-style: oblique;
    
   
} 


img {
    
    max-width: 100%;

    
}

.first {
    
    
    max-width: 495px;
    min-width: 300px;
    padding-top: 50px;
}


.second {
    
    max-width: 495px;
    min-width: 300px;
    padding-top: 50px;
   
     
    
}


 .third {
        
     min-width: 450px;
     padding-top: 50px;
     
     
    }
    

.fourth {
    
    
    min-width: 450px;
    padding-top: 50px;
}


.fifth {
    
    max-width: 450px;
    min-width: 350px;
    padding-top: 50px;
    
    
   
    
    
}


.seventh {
    
    max-width: 600px;
    min-width: 300px;
    padding-top: 50px;
    
    
    
    
}



.eighth {
    
    min-width: 450px;
    padding-top: 50px;
   
 
    
}



.ninth {
    
    max-width: 450px;
    min-width: 350px;
    padding-top: 50px;
    
    
   
    
    
}



.tenth {
    
   min-width: 450px;
    padding-top: 50px;
    
    
   
    
    
}



.eleventh {
    
    
    max-width: 40px;
    min-width: 350px;
    margin-top: 30px;
    background-image: image(IIDMIH)
    
    
    
    
    
}





.thirteenth {
    
   max-width: 600px;
    min-width: 300px;
    margin-left: 50%;
    margin-right: 50%;
    
    
}

.fourteenth {
    
    max-width: 300px;
    min-width: 350px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
}


/*scrapped cover */
.fifteenth {
    min-width: 450px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
    
    
    
}

/*t */
.sixteenth {
    
    max-width: 450px;
    min-width: 350px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
    
    
    
}

/*woman on fire */
.seventeenth {
    
    max-width: 450px;
    min-width: 600px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
    
}



/*scrapped cover */
.eighteenth {
    
    min-width: 450px;
    max-width: 600px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
    
    
    
}






/*selfie */
.nineteenth {
    max-width: 495px;
    min-width: 350px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
    
    
}

/*selfie */
.twentith {
    
    max-width: 495px;
    min-width: 350px;
    padding-top: 50px;
      margin-left: 50%;
    margin-right: 50%;
    
    
}



@media only screen and (max-width: 740px) {
.section div  {
    
    min-width: 3em;
    min-height: 1em;
   
    
    
    }
    
    }


@media only screen and (min-width: 1330px) {
.fifteenth  {
    
    max-width: 2.5em;
    min-height: 1em;
    
   
    
    
    }
.fourteenth  {
    
    max-width: 5em;
    min-height: 1em;
   
    
    
    }
        
    

    
.thirteenth  {
    
    max-width: 5em;
    min-height: 1em;
      padding: 20px;
   
    
    
    }
    
    

    
.twelvth  {
    
    max-width: 4.5em;
    min-height: 1em;
    padding: 20px;
   
    
    
    }
    



img {
    
    max-width: 100%;
     

    
}
    
body {
 
 
}    
    
    



@media only screen and (max-width: 740px) {
.video-container {
    width:auto;
    height:auto;
   
    
    
    
    
    }

.video-container iframe, .video-container object, .video-container embed 
{     width:1920px;
    height:1080px;
   
    
}
 
    
    
    
    
}


.responsive-iframe {
    
    position: absolute;
    top: 0;
    left 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    
    
    
    
    
    
}

.video-box{
    width:400px;
    position:relative;
    
}

.video-thumbnail{
    z-index:300;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    image-resolution: snap;
    

}

.video-frame{
    z-index:100;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    
}

.thumbnail-link .video-thumbnail{
    display:block;
    image-resolution:
}

.thumbnail-link:hover .video-thumbnail{
    display:none;
}






